body {
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

#container {
	background: url(images/race-track.jpg) top center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

#game-board {
	position: relative;
	background: transparent;
	width: 900px;
	height: 700px;
	padding: 0 80px;
	margin: 0 auto;
}

#results {
	position: relative;
	display: none;
	width: 560px;
	padding: 0 0 0;
	margin: 0 auto;
}

h1 {
	font-size: 36px;
	line-height: 1.4;
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	text-align: center;
	color: #fff;
	padding: 0;
	margin: 0 0 20px;
}

#instructions {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0 0;
	overflow: hidden;
}

#left-side {
	display: inline-block;
	width: 260px;
	font-size: 18px;
	line-height: 1.4;
	text-align: left;
	color: #fff;
	float: left;
}

#right-side {
	display: inline-block;
	width: 270px;
	font-size: 18px;
	line-height: 1.4;
	text-align: right;
	color: #fff;
	float: right;
}

.title {
	font-family: sans-serif;
	font-size: 58px;
	line-height: 1.4;
	font-weight: bold;
	text-align: center;
	color: red;
	text-shadow: #000 3px 4px 4px;
	padding: 20px 0 0;
	margin: 0;
}

button {
	display: block;
	background: red;
	font-size: 20px;
	color: #fff;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	letter-spacing: 2px;
	padding: 10px 25px;
	margin: 0 auto;
	border: 1px solid #ddd;
	border-radius: 6px;
	cursor: pointer;
}

button:hover {
	background: red;
}

#player1 {
	display: block;
	position: absolute;
	background: url(images/red.png) top left no-repeat;
	width: 309px;
	height: 160px;
	padding: 0;
	margin: 0;
	top: 150px;
	left: 0;
	z-index: 998;
}

#player2 {
	display: block;
	position: absolute;
	background: url(images/blue.png) top left no-repeat;
	width: 309px;
	height: 160px;
	padding: 0;
	margin: 0;
	top: 300px;
	left: 0;
	z-index: 999;
}